<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Hola mundo</h2>
    <li>Nombre: Grecia Colmenares
    </li>
    <li>Cedula: V-30.211.521
    </li>
    <li>Seccion: #1</li>
</body>
</html>
